<div {{ attributes.setAttribute('id', settings.css_id).addClass('isula-one-column', settings.css_classes ) }}>
  <div class="top">
    {{ content.top }}
  </div>

  <div class="col-xs-12 col-sm-8 center-left">
    {{ content.center_left }}
  </div>

  <div class="col-xs-12 col-sm-4 center-right">
    {{ content.center_right }}
  </div>

  <div class="col-xs-12 bottom">
    {{ content.bottom }}
  </div>

</div>
