<div {{ attributes.setAttribute('id', settings.css_id).addClass('isula-immobili-search', settings.css_classes ) }}>
  <div class="top">
    {{ content.top }}
  </div>

  <div class="wide-container" id="availability-search">
    <!-- Hits -->
    <div class="col-xs-12 col-md-8 col-md-push-4 main-col">
      {{ content.center }}
    </div>

    <!-- Facets -->
    <div class="col-xs-12 col-md-4 col-md-pull-8 left-col">
      {{ content.left }}
    </div>

    <div class="col-xs-12 bottom">
      {{ content.bottom }}
    </div>
  </div>
</div>
